<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Has recibido una invitación de parte de <%= User.find(@convidado.anfitrion_id).name.to_s.humanize.titleize %></h3>
    <p>Queremos invitarte a la celebración del <strong><%= @convidado.fiesta.nombre.humanize.titleize%></strong>.</p>
    <p>Debes registrarte para que puedas confirmar tu asistencia, ver los invitados, y ver la lista de regalos.</p>
    <p>
      Solo debes seguir este link: <%= link_to "regístrate", @url %>.
    </p>

    <p>Te esperamos y que tengas un buen día!</p>
  </body>
</html>