<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Has recibido una invitación de parte de <%= User.find(@convidado.anfitrion_id).name.to_s.humanize.titleize %></h3>
    <p>Queremos hacerte participe de la celebración del <strong><%= @convidado.fiesta.nombre.humanize.titleize%></strong>.</p>

    <p>
      Para ver los detalles de la fiesta <%= link_to "Accede al portal", ingresar_path %>.
    </p>

    <p>Te esperamos y que tengas un buen día!</p>
  </body>
</html>