<span>
    <%= link_to "reservar", reservar_regalo_path(regalo.lista, regalo), class: "btn btn-primary"  %>
</span>
<span>
    <%= link_to "comprar", comprar_regalo_path(regalo.lista, regalo), class: "btn btn-success" %>
</span>
<span>
    <%= link_to "liberar", liberar_regalo_path(regalo.lista, regalo), class: "btn btn-success" %>
</span>
