<h3>Nueva fiesta</h3>
<span class="help-block">
Estos campos definen lo que tus invitados verán al momento de invitarlos. Todos podrán ser editados posteriormente.
</span>
<%= render partial: "form", locals: {fiesta: @fiesta} %>