
  <! -- SECCION FIESTAS -->
  <section id="services" name="services"></section>
  <div id="servicewrap">
    <div class="container">
      <div class="row">
        
        <div class="col-lg-8-offset-2 centered">
          <h1>UNA OJEADA A LAS FIESTAS</h1>
          <h3>Las fiestas alojan las listas</h3>
          <p>Opciones que tienes en la sección Fiestas</p>
        </div><!-- /col-lg-8 -->
      </div><! --/row -->
      
      <div class="row mt">
        <div class="col-lg-3 service">
          <i class="fa fa-sitemap"></i><p>INFORMACION GENERAL<br/><small>Fecha, hora, lugar o datos de contacto. </small></p>
          <p class="text">Revisa la descripción que el anfitrión te ha dejado. Por lo general nos esforzamos para que sea valiosa para tu lectura.</p>
        </div>
        <div class="col-lg-3 service">
          <i class="fa fa-check-square-o"></i><p>CONFIRMA TU ASISTENCIA<br/><small>Notificación vía mail</small></p>
          <p class="text">Para hacerlo puedes hacer click en el botón de confirmar y el anfitrión será notificado de tu asistencia.</p>
        </div>
        <div class="col-lg-3 service">
          <i class="fa fa-sort-amount-desc"></i><p>LISTAS Y MAS LISTAS<br/><small>Todas en un solo lugar</small></p>
          <p class="text">En cada Fiesta podrás mira la lista de regalos, la lista de invitados, o en caso de que el anfitrión lo habilite la lista de cosas que hay que llevar.</p>
        </div>
        <div class="col-lg-3 service">
          <i class="fa fa-external-link-square"></i><p>CONTACTA LOS INVITADOS<br/><small>Ponerse de acuerdo o retomar contacto</small></p>
          <p class="text">Si te parece puedes buscar en la lista de invitados a tus conocidos y si deseas contactar a alguno puedes enviarles un correo.</p>
        </div>
      </div><! --/row -->
      <div class="row mt">
        <div class="col-lg-3 service">
          <i class="fa fa-lock"></i><p>DATOS PRIVADOS<br/><small>Revisa tus invitaciones.</small></p>
          <p class="text">Para acceder a una fiesta debes haber recibido una invitación de resto no podrás ver ninguno de los datos y se mantendrán en secreto.</p>
        </div>
        <div class="col-lg-3 service">
          <i class="fa fa-tint"></i><p>ESTILOS AGRADABLES<br/><small>Personaliza el diseño y los textos</small></p>
          <p class="text">Como anfitrión podrás ajustar la plantilla de tu Fiesta ajustando los textos y las imágenes. Al momento de hacerlo revisa bien que algunos logos son botones.</p>
        </div>
        <div class="col-lg-3 service">
          <i class="fa  fa-envelope"></i><p>INVITACIONES EN MASA<br/><small>Solo para anfitriones</small></p>
          <p class="text">Invita a todas las personas que quieras escribiendo su email separado por comas y monitorea quién asistirá.</p>
        </div>
        <div class="col-lg-3 service">
          <i class="fa  fa-cloud"></i><p>REPOSITORIO FUTURO<br/><small>Tus fiestas nunca son borradas</small></p>
          <p class="text">Toda la información que quieras quedará alojada en nuestros servidores y nunca será borrada para que en cualquier momento puedas regresar.</p>
        </div>
        
      </div><! --/row -->
       <% if current_user %>
      <div class="row">
        <div class="col-lg-8-offset-2 centered">
          <span class="help-block">Empieza por ser el anfitrión de la fiesta</span>
          <%= link_to new_fiesta_path, class: "btn btn-lg btn-success" do %>
          <small><i class="fa fa-plus"></i>
          </small> Crear tu primera fiesta
          <% end %>
        </div><!-- /col-lg-8 -->
      </div>
      <% else %>
      <div class="row">
        <div class="col-lg-8-offset-2 centered">
          <span class="help-block">Empieza por ser el anfitrión de la fiesta</span>
          <%= link_to registrarse_path, class: "btn btn-lg btn-success" do %>
          <small><i class="fa fa-plus"></i>
          </small> Crear tu primera fiesta
          <% end %>
        </div><!-- /col-lg-8 -->
      </div>
      <% end %>
      <div class="row">
        <span><%= link_to tour_listas_path, class: "btn btn-lg btn-primary pull-right" do %>
          siguiente: listas <i class="fa fa-chevron-right"></i>
          <% end %>
        </span>
      </div>
    </div><! --/container -->
  </div><! --/servicewrap -->
