<div class="container" id="tours-container">
  <div class="row">
    <div class="col-lg-5 col-lg-offset-1">
      <h3>Qué opciones tienes en la sección Fiestas</h3>
        <ol>
          <li> Revisa la descripción que el anfitrión te ha dejado. 
          </li>
          <li>Es importante que confirmes al anfitrión tu asistencia. Para hacerlo puedes hacer click en el botón de confirmar y el anfitrión será notificado de tu asistencia. 
          </li>
          <li>Todos los demás invitados podrán saber que confirmaste tu participación. En caso contrario puedes declinar la invitación.</li>
          <li>Puedes encontrar datos como la fecha de la fiesta y el lugar o datos del contacto al finalizar la página.</li>
          <li>Además podrás mira la lista de regalos. </li>
          <li>Si te parece pueds buscar la lista de invitados y si deseas contactar a alguno puedes enviarle un correo.</li>
        </ol>
    </div>
    <div class="col-lg-5">
      <h3>Si eres el anfitrión</h3>
      <ol>
        <li>El nombre que le pongas a la fiesta será el identificador de la url. Lo puedes modificar a tu gusto.</li>
        <li>Crea una descripción llamativa.</li>
        <li>Añade el día y la hora en la que empieza la fiesta y también revisa la fecha y hora de terminación de la fiesta. Mira bien que Los logos son botones.</li>
        <li>Invita a todas las personas que quieras escribiendo su email separado por comas.</li>
        <li>En caso de que lo requieras deja un teléfono y un correo para que te contacten.</li>
        <li>Desde allí podras crarle el nombre a tu lista de regalos siguiendo el botón que se encuentra en la sección de listas.</li>
      </ol>
    </div>
  </div>
  
  <%= link_to "siguiente", tour_listas_path, class: "btn btn-lg btn-primary" %>
</div>