<div class="container" id="tours-container">
  <div class="row">
    <div class="col-lg-5 col-lg-offset-1">
      <h3>Cómo funciona las listas?</h3>
        <ol>
          <li>Tienes listas de tus fiestas y en las invitaciones que te han llegado. 
          </li>
          <li>Ingresa a la fiesta para ver la lista. 
          </li>
          <li>Haz click en LA LISTA para ver todas las listas.</li>
          <li>Las listas tienen regalos que están separados en 3 categorias.</li>
          <li>Los regalos disponibles puedes hacer click sobre la imagen y ver el detalle que el anfitrión ha dejado.</li>
          <li>Al escoger el regalo que deseas puedes hacer click sobre el botón de 'lo quiero reservar'. Este botón envía los regalos a la lista de reservados </li>
          <li>Los regalos reservados te dan tiempo a ti para que puedas comprarlo y así los demás invitados escogerán otros regalos para que no hayan repetidos.</li>
          <li>Un regalo reservado es un estado intermedio, notifica al anfitrión de tu compra.</li>
          <li>Puedes consultar tus regalos reservados en cualquier momento ingresando al link de Regalos en la barra de navegación.</li>
          <li>Libera los regalos que no quieres comprar para que otros usuarios los puedan reservar.</li>
        </ol>
    </div>
    <div class="col-lg-5">
      <h3>Si eres el anfitrión</h3>
      <ol>
        <li>Crea una lista de regalos con textos llamativos.</li>
        <li>Escoge fotos agradables de los productos. Googlea las imagenes y busca las direcciones.</li>
        <li>Revisa la ortografía</li>
        <li>No olvides dejar tips de lo que te gusta o conoces. </li>
        <li>Recibirás un correo por cada regalo comprado.</li>
        <li>Trata de encontrar las direcciones de los productos para que sea más fácil para los invitados encontrar el regalo de tu preferencia.</li>
        <li>Revisa tu lista constantemente y conversa con tus invitados.</li>
      </ol>
    </div>
  </div>
  <%= link_to "atras", tour_fiestas_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "siguiente", tour_regalos_path, class: "btn btn-lg btn-primary" %>
</div>