<div class="container" id="tours-container">
  <div class="row">
    <div class="col-lg-5 col-lg-offset-1">
      <h3>Finalmente los regalos.</h3>
      <ol>
        <li>Queremos que la entrega de regalos sea especial.</li>
        <li>Recomendamos primero salir a 'vitriniar'. Salir de la rutina e imaginar que es lo que quieren tus invitados.</li>
        <li> Lleva tu lista contigo en tu celular o tablet.</li>
        <li>Monitorea tus regalos reservados no vaya a ser que sean liberados por permanecer mucho tiempo reservados.</li>
        <li>El precio es lo de menos el detalle es lo que importa, así que no te compliques con la marca o el precio.</li>
        <li>Tranquilo que los regalos comprados son notificados al usuario de manera anónima. Es decir, el anfitrión sabe que regalo le compraron pero no sabrá quién se lo compró hasta el día de la fiesta cuando se lo entregues.</li>
      </ol>
    </div>
  </div>
   <%= link_to "atrás", tour_listas_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "terminar", root_path, class: "btn btn-lg btn-primary" %>
</div>