<!-- ==== HEADERWRAP ==== -->
  <div id="headerwrap" id="home" name="home">
  <header class="clearfix">
        <h1><span class="fa fa-gift"></span></h1>
        <p> Bienvenido a la lista de regalos.</p>
          <p>Crea listas de regalos para compartir con tus invitados.</p>
        <%= link_to "Regístrate para crear!", registrarse_path, class: "btn btn-lg btn-info"%>
        <div class="spacer"></div>
        <i class="fa fa-angle-down"></i>
    </header>     
  </div><!-- /headerwrap -->

<!-- ==== GREYWRAP ==== -->
    <div id="greywrap">
      <div class="row">
        <div class="col-lg-4 callout">
          <span class="fa fa-book"></span>
          <h2>Lista de regalos sencilla</h2>
          <p>Crea una lista de regalos, publica los regalos sin un precio o cantidad. Añade una foto o un link donde lo viste y listo.</p>
        </div><!-- col-lg-4 --> 

        <div class="col-lg-4 callout">
          <span class="fa fa-glass"></span>
          <h2>Invita a tus familiares o amigos</h2>
          <p>Como anfitrión de la fiesta puedes invitar vía correo a todos tus seres queridos y ellos podrán reservar los regalos sin revelar su identidad manteniendo siempre la sorpresa.</p>
        </div><!-- col-lg-4 -->
        
        <div class="col-lg-4 callout">
          <span class="fa fa-heart"></span>
          <h2>Reserva los regalos</h2>
          <p>Cada invitado podrá reservar los regalos que más les guste y la aplicación le ayudará a conseguirlo antes de la fecha de la fiesta.</p>
        </div><!-- col-lg-4 --> 
      </div><!-- row -->
    </div><!-- greywrap -->
    
    <div id="linkwrap">
    <div class="row">
        <h2 class="centered">Pruébala ahora.</h2>
        <div class="col-lg-offset-2 col-lg-8 centered">
          <%= link_to "Regístrate hoy!", registrarse_path, class: "btn btn-lg btn-info centered"%>
        </div><!-- col -->
        
      </div><!-- row -->
    </div>
