<div class="jumbotron">
<h1>Bienvenida a La Lista</h1>
<p>Esta es una herramienta sencilla para alojar lista de regalos</p>
</div>
<h3>Busca los productos que vas a comprar y reserva los que vas a regalar</h3>
