<div class="container" id="sobre-container">
  <div class="row">
        <h2 class="centered">Mensaje de los administradores.</h2>
        <hr>
        <br>
        <div class="col-lg-offset-2 col-lg-8">
          <p>Cuando iba a nacer nuestra hija, construímos esta aplicación para su baby shower. 
          </p>
          <p>En nuestra primera fiesta lo único que queríamos es que las personas escogieran el regalo que más les llamara la atención pero sin que se repitieran.</p>
          <p>Dejar una lista de regalos en cualquier tienda de cadena es lo típico pero para nosotros eso no nos gusta, y no nos sentimos bien con la idea de casi obligar a la gente a que compren productos de una tienda en particular.</p>
          <p>
          Es por eso que preferimos que las 
          personas compren sus regalos donde prefieran, pero que tengan una lista en la que se pueden guiar.Al final si alguién quiere traer algo que no está en la lista, se puede pero si les podemos ayudar con La Lista genial!.</p>
          <p>Gracias por usarla</p>
          <i><strong>Gabo Sarmiento y Caro Arias</strong></i> 
          </br>
          <p></p>
          <br>
        </div><!-- col-lg -->
      </div><!-- row -->
      <div class="clear-fix"></div>
</div>