<h3>Regalos de la lista <strong><%= link_to @lista.nombre.to_s.humanize.titleize, [@fiesta, @lista]
 %></strong></h3>
<% if policy(@lista).create? %>
<%= link_to "Añadir Regalo", new_fiesta_lista_regalo_path(@fiesta, @lista), class: "btn btn-primary" %>
<% end %>
<hr>
<%= render @regalos %>

<script>
var ready;
ready = function() {
  $('.btn-modal').click(function(e){
    e.preventDefault();
    var selector = "#" + $(this).attr('data-selector');
    console.log(selector);
    $(selector).modal('show');
  });
};
$(document).ready(ready);
$(document).on('page:load', ready);
</script>

