<ol class="breadcrumb">
    <li>Fiestas / <%= link_to @fiesta.nombre, @fiesta %> / <%= link_to @lista.nombre, [@fiesta, @lista] %> / regalos </li>
  </ol>

<% if policy(@lista).create? %>
<%= link_to "Añadir Regalo", new_fiesta_lista_regalo_path(@fiesta, @lista), class: "btn btn-primary" %>
<% end %>
<hr>
<ol>
<%= render @regalos %>
</ol>
<script>
var ready;
ready = function() {
  $('.btn-modal').click(function(e){
    e.preventDefault();
    var selector = "#" + $(this).attr('data-selector');
    console.log(selector);
    $(selector).modal('show');
  });
};
$(document).ready(ready);
$(document).on('page:load', ready);
</script>

