<div class="container" id="regalos-container">
  <div class="row">
    <!-- Regalos que tienes el compromiso de comprar-->
     <div class="col-sm-12">
      <div class="well">
      <h3>Mis regalos reservados
        <span class="badge badge-info"><%= @compromisos.count if @compromisos %></span>
      </h3>
      <span class="help-block">
        Los regalos que tu seleccionaste en las listas en las que fuiste invitado.
      </span>
      </div>
      <div class="lista-regalos-comprometidos"> 
      <% unless @compromisos.empty? %>
        <% @compromisos.each do |compromiso| %>
          <div class="lista-regalos-comprometidos-regalo"> 
            <div>
              <%= render compromiso.regalo %>
            </div>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>

<script>
var ready;
ready = function() {
  var $container = $('.lista-regalos-comprometidos');
  $container.imagesLoaded(function(){
    $container.masonry({
        itemSelector: '.item'
    });
    $('.item img').lazyload({
        placeholder: "/assets/grey.gif",
        effect: 'fadeIn',

    });
    $('.item img').trigger('scroll');
  });

 
  $('.btn').tooltip();
  $('#reservado, #liberado, #comprado').click(function(){
    $(this).addClass('disabled');
  });
  $('.btn-modal').click(function(e){
    e.preventDefault();
    var selector = "#" + $(this).attr('data-selector');
    $(selector).modal('show');
    $('.modal').on('shown.bs.modal', function(){
      var deferreds = [];
      var imgs = $('.imagen', this).find('img');
      imgs.each(function(){
        var self = $(this);
        var datasrc = self.attr('data-original');
        if (datasrc) {
          var d = $.Deferred();
          self.one('load', d.resolve).attr("src", datasrc).attr('data-src', '');
          deferreds.push(d.promise());
        }
      });
      $.when.apply($, deferreds).done(function(){
        $(selector).find('#ajaxloader').hide();
      });
    });
  });
};
$(document).ready(ready);
$(document).on('page:load', ready);
</script>