<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha pedido el link para cambiar tu contraseña. Lo puedes hacer con el link a continuación:.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no fuiste quien pidio esto, por favor ignora este correo.</p>
<p>Tu contraseña no será cambiada hasta que accedas al link de arriba y crees una nueva.</p>
